body{
  font-size: 20px;
  font-family: 'SneakyTimes';
  background-color: rgb(255, 255, 255);
  padding: 0%;
  /*background-image: url("/media/fond.png");*/
}


.content{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0px;
  padding: 0%;
}

.titre{
  font-size: 60px;
  line-height: 63px;
  padding-bottom: 31px;
  flex-basis: 30%;
  margin: 0%;
}

p{
  margin: 0%;
  padding: 0%;
}

.text{
  flex-basis: 30%;
  margin: 0%;
  padding: 0%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 5;
  line-height: 30px;
  font-size: 27px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  color: red;
  /*text-decoration: underline 35px white;
  background-image: linear-gradient(white, rgb(214, 251, 168));*/
}

.resume{
  border-top: 2px solid red;
  padding-left:0px;
  padding-right:20px;
  padding-bottom:40px;
}

.tableau{ 
  z-index: 1;
  flex-basis: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  margin: 0%;
  padding-bottom: 15px;
  color: black;
  overflow: auto;
  font-family: 'SneakyTimes';
}


table, th, td {
  border: 1px solid red;
}

table{
  background-color: white;
  
  margin: 0px;
  padding: 0%;
}

.image{
  width: 40px;
  margin-bottom: 15px;
  filter: brightness(90%);
  border-radius: 12px;
  background-color: red;
  /*border: groove 5px red;
  margin-left: 15px;*/
}


.pngg{
  width: 100%;
  border-top: 2px solid red;
}

.image:hover{
  height: 500px;
  width: auto;
  position: absolute;
  top: 50px;
  margin-bottom: 15px;
  filter: brightness(90%);
  border-radius: 12px;/*
  margin-left: 15px;*/
}

.slide{
  margin: 0px;/*
  position: fixed;
  top: 0px;
  left: 0px;*/
  /*display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 0%;
  left: 0%;*/
  padding-top: 0px;
  padding-left: 0px;
  margin: 0px;
  width: 30%;
  height: auto;/*
  flex-direction: row;
  justify-content:flex-start;
  overflow-x:auto;
  width: 100%;
  position: relative;
  padding-left: 0;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 0px;*/
  
}

.reveal{
  margin: 20px;/*
  position: fixed;
  top: 0px;
  left: 0px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 0%;
  left: 0%;/*
  flex-direction: row;
  justify-content:flex-start;
  overflow-x:auto;
  width: 100%;
  position: relative;
  padding-left: 0;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 0px;*/
  
}

/*.layer{
  margin-right: 15px;
}

.fond{
  z-index: -10;
  margin: 0%;
  width: 100%;
  position: absolute;
  top : 0px;
  left: 0px;
  display: none;
}
*/
